.person {
border: 3px solid green;
padding: 10px;
margin: 5px;
}

.devs {
    background-color: rgba(137, 43, 226, 0.348);
}

.photo {
    display: flex;
    background-color: blue;
}

.github {
    width: 20px;
    padding: 2px;
}

.linkedin {
    width: 20px;
    padding: 2px;
}