.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px;
  position:initial;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 15px; 
  }

  .Header h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
  }

  .Booty {
    width: 30px;
    height: 35px;
  }
