.ParkDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ParkDetail h1 {
    display: flex;
    text-align: flex-start;
    font-size: 1.3em;
    font-family: 'Sansita', sans-serif;
}
.ParkDetail img {
    width:300px;
    height: 300px;
    object-fit: contain;
    padding: 3px;
    border: 2px solid black;;
    border-radius: 10px;
}

.font {
    font-family: 'Julius Sans One', sans-serif;
    
}

.name {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
}

