.ParkDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ParkDetail h1 {
    display: flex;
    text-align: flex-start;
    font-size: 1em;
}
.ParkDetail img {
    width:300px;
    height: 300px;
    object-fit: contain;
}

