@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.Profile {
    display: flex;
    flex-direction: column;
}
.dogHead {
    width: 110px;
    height: 110px;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(45, 9, 128, 0.351);
}

.contain {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
}

.profileContain {
    font-family: 'Julius Sans One', sans-serif;
}

.favorites {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.293);
    height: 125px;
    display: flex;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
}

.soon {
    margin-top: 80px;
    font-family: 'Julius Sans One', sans-serif;
}

